@model AppWeb1.Models.TaskItem
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Nueva Tarea</h2>
<form method="post">
    <input class="form-control mb-2" name="Titulo" placeholder="Título" required />
    <button class="btn btn-primary">Guardar</button>
</form>
